@import "fancybox";
@import "slick-less";
@import "bootstrap";
@import "jquery-ui";

@light: 300;
@regular: 400;
@500: 500;
@600: 600;
@bold: 700;
@800: 800;
@black: 900;


@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');


@Roboto: 'Roboto', sans-serif;


.b_a() {
  content: '';
  position: absolute;
}
.m_a() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.flex() {
  display: flex;
  display: -webkit-flex;
}
.j-center() {
  justify-content: center;
  -webkit-justify-content: center;
}
.j-beetween() {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.j-space-around() {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.j-end() {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.j-start() {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.ai-center() {
  align-items: center;
  -webkit-align-items: center;
}
.ai-start() {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.ai-end() {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.as-center() {
  align-self: center;
  -webkit-align-self: center;
}
.as-end() {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}
.as-start() {
  align-self: flex-start;
  -webkit-align-self: flex-start;
}
.wrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col() {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@box-shadow) {
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
  box-shadow: @box-shadow;
}

.transform(@transform) {
  transform: @transform;
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
}

.transition(@transition_default) {
  transition: @transition_default;
  -webkit-transition: @transition_default;
  -moz-transition: @transition_default;
  -o-transition: @transition_default;
}

@transition_default: .3s linear;


@black:#1C222B;

.container{
  max-width: 1300px;
}


*{
  outline: none;
}

a{
  .transition(@transition_default);
}


button, input, .form-control{
  outline: none;
  &:hover, &:focus{
  box-shadow: none;
  outline: none;
}
}


button{
  cursor: pointer;
}


ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}



img, video{
  max-width: 100%;
}



body{
  color: rgba(28, 34, 43, 0.65);
  font-size: 16px;
  line-height: 19px;
  font-family: @Roboto;
  font-weight: normal;
  @media (max-width:767px){
    font-size: 14px;
  }
}


header{
  background: #fff;
}

.header_row{

  padding-top: 35px;
  padding-bottom: 35px;

  @media (max-width:1300px){
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (max-width:1200px){
    padding-top: 15px;
    padding-bottom: 15px;
  }


  .col_left{
    .flex();
    .ai-center();
    @media (max-width:767px){
      .j-center();
      margin-bottom: 10px;
    }
  }

  .col_right{
    .flex();
    .j-end();
    .ai-center();

    @media (max-width:767px){
      .j-center();
    }

  }

}



.h_flex{
  .flex();

}

.header_contacts{
  ul{
    li{
      color: @black;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 3px;
      @media (max-width:991px){
        margin-bottom: 0;
        font-size: 14px;
      }
      @media (max-width:575px){
        font-size: 13px;

      }

      @media (max-width:380px){
        span{
          display: block;
        }
      }

      a{
        color: @black;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        @media (max-width:991px){
          font-size: 14px;
        }
        @media (max-width:575px){
          font-size: 13px;
        }
        &:hover, &:focus{
          text-decoration: none;
        }
      }
    }
  }
}


.cart_block{
  margin-left: 48px;
  @media (max-width:1200px){
    margin-left: 30px;
  }
  @media (max-width:380px){
    margin-left: 28px;
  }
  .cart_link{
    .flex();
    text-decoration: none;
    &:hover, &:focus{
      text-decoration: none;
    }


    .icon{
      display: inline-block;
      position: relative;
      margin-right: 22px;
      @media (max-width:575px){
        margin-right: 10px;
      }

      .count{
        position: absolute;
        top: 20px;
        right: -13px;
        background: #D25857;
        width: 25px;
        height: 25px;
        .border-radius(50%);
        .flex();
        .ai-center();
        .j-center();
        font-size: 20px;
        color: #fff;
        font-weight: @bold;
        @media (max-width:991px){
          font-size: 18px;
        }
        @media (max-width:575px){
          font-size: 16px;
          width: 20px;
          height: 20px;
          right: -5px;
        }
      }
    }

    .cart_text{
      padding-top: 10px;
      .c_title{
        font-size: 18px;
        color: @black;
        font-weight: 500;
        margin-bottom: 5px;
        @media (max-width:991px){
          font-size: 16px;
        }
        @media (max-width:575px){
          font-size: 14px;
          margin-bottom: 0;
        }
      }
      .c_price{
        color: rgba(28, 34, 43, 0.65);
        font-size: 15px;
        @media (max-width:991px){
          font-size: 14px;
        }
        @media (max-width:575px){
          font-size: 13px;
        }
      }
    }

  }
}




.main_nav{
  background: @black;

  @media (max-width:991px){
    padding: 10px 0;
  }

  .nav_flex{
    .flex();
    .j-beetween();


    .search_block{
      width: 100%;
      max-width: 295px;
      .flex();
      .ai-center();

      .search_form{
        width: 100%;
        .flex();
        background: #fff;
        .border-radius(3px);

        .form-control{
          height: 35px;
          border:0;

          &::-webkit-input-placeholder{color: rgba(28, 34, 43, 0.3);
          }
          &::-moz-placeholder{color: rgba(28, 34, 43, 0.3);
          }
          &:-ms-input-placeholder{color: rgba(28, 34, 43, 0.3);
          }
          &::-ms-input-placeholder{color: rgba(28, 34, 43, 0.3);
          }

        }

        .search_btn{
          width: 48px;
          height: 35px;
          position: relative;
          background: none;
          border:0;
          &:before{
            .b_a();
            .m_a();
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.8674 15.7233H16.7381L16.3379 15.3373C17.7387 13.7078 18.582 11.5923 18.582 9.29102C18.582 4.15952 14.4225 0 9.29102 0C4.15952 0 0 4.15952 0 9.29102C0 14.4225 4.15952 18.582 9.29102 18.582C11.5923 18.582 13.7078 17.7387 15.3373 16.3379L15.7233 16.7381V17.8674L22.8702 25L25 22.8702L17.8674 15.7233ZM9.29102 15.7233C5.73185 15.7233 2.85878 12.8502 2.85878 9.29102C2.85878 5.73185 5.73185 2.85878 9.29102 2.85878C12.8502 2.85878 15.7233 5.73185 15.7233 9.29102C15.7233 12.8502 12.8502 15.7233 9.29102 15.7233Z' fill='%231C222B'/%3e%3c/svg%3e");
            width: 25px;
            height: 25px;
          }
        }

      }
    }



    .mm_btn{

      margin-left: 20px;

      .hamburger{
        width: 40px;
        height: 32px;
        position: relative;
        background: none;
        border:0;
        span{
          position: absolute;
          left: 0;
          height: 3px;
          width: 100%;
          background: #fff;
          .border-radius(3px);
          &:nth-child(1){
            top: 0;
          }
          &:nth-child(2){
            top: 0;
            bottom: 0;
            margin: auto;
          }
          &:nth-child(3){
            bottom: 0;
          }
        }
      }



      @media (min-width:992px){
        display: none;
      }
    }


    .main_menu{




      @media (min-width:992px){
        width: calc(100% - 295px);
      }

      @media (max-width:991px){
        opacity: 0;
        position: fixed;
        width: 80%;
        height: 100%;
        z-index: 99991;
        //padding: 15px 15px 20px;
        right: 0;
        top: 0;
        margin-top: 0;
        background: #6c757d;
        overflow: auto;
        .transition(@transition_default);
        .transform(translateX(100%));

        &.open{
          .transform(translateX(0));
          opacity: 1;
        }
      }

      .mm_close{
          width: 35px;
        height: 35px;
        background: #fff;
        position: relative;
        margin-bottom: 30px;
        cursor: pointer;
        &:before, &:after{
          .b_a();
          width: 25px;
          height: 1px;
          background: #6c757d;
          .m_a();
        }
        &:before{
          .transform(rotate(45deg));
        }
        &:after{
          .transform(rotate(-45deg));
        }

        @media (min-width:992px){
          display: none;
        }
      }

      .nav{
        .flex();

        @media (max-width:991px){
        }

        li{
          @media (max-width:991px){
            width: 100%;
          }
          &.active{
            a{
              background: rgba(255, 255, 255, 0.15);
            }
          }
          a{
            display: inline-block;
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
            text-transform: uppercase;
            text-decoration: none;
            padding: 30px 35px;
            @media (max-width:1300px){
              padding: 20px 25px;
              font-size: 18px;
            }
            @media (max-width:1200px){
              padding: 15px 15px;
              font-size: 17px;
            }
            @media (max-width:991px){
              width: 100%;
            }
            &:hover, &:focus{
              text-decoration: none;
              background: rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
    }

  }

}




.main_slider{
  margin-bottom: 30px;

  .slick-dots{
    bottom: -37px;
    li{
      &.slick-active{
        button{
          &:before{
            border: 3px solid @black;
            background: @black;
          }
        }
      }
      button{
        width: 15px;
        height: 15px;
        &:before{
          .b_a();
          .m_a();
          width: 15px;
          height: 15px;
          border: 3px solid rgba(28, 34, 43, 0.3);
          .border-radius(50%);
          opacity: 1;
        }
      }
    }
  }

  .slick-arrow{
    background: #1C222B;
    .border-radius(3px);
    width: 55px;
    height: 55px;
    z-index: 2;
    &:before{
      .b_a();
      .m_a();
      width: 17px;
      height: 24px;
      opacity: 1;
    }
  }

  .slick-next{
    right: 80px;
    @media (max-width:1700px){
      right: 30px;
    }
    @media (max-width:1400px){
      right: 5px;
    }
    @media (max-width:1300px){
      display: none !important;
    }
    &:before{
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='24' viewBox='0 0 17 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.5734e-08 2.82L10.5074 12L1.66082e-06 21.18L3.23482 24L17 12L3.23482 -7.03958e-07L5.5734e-08 2.82Z' fill='white'/%3e%3c/svg%3e ");
    }

  }
  .slick-prev{
    left: 80px;
    @media (max-width:1700px){
      left: 30px;
    }
    @media (max-width:1400px){
      left: 5px;
    }
    @media (max-width:1300px){
      display: none !important;
    }
    &:before{
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='24' viewBox='0 0 17 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17 21.18L6.49257 12L17 2.82L13.7652 2.40678e-06L-2.09815e-06 12L13.7652 24L17 21.18Z' fill='white'/%3e%3c/svg%3e ");
    }
  }

  .slider_item{
    height: 755px;
    background-size: cover;
    background-position: left center;
    @media (max-width:1800px){
      height: 700px;
    }
    @media (max-width:1500px){
      height: 650px;
    }
    @media (max-width:1300px){
      height: 600px;
    }
    @media (max-width:1200px){
      height: 550px;
    }

    @media (max-width:991px){
      height: 500px;
    }
    @media (max-width:767px){
      height: 450px;
    }
    @media (max-width:575px){
        height: 400px;
    }




    .container{
      height: 100%;
      .flex();
      .ai-center();
      .j-end();
      .slider_desc{
        text-align: right;
        max-width: 430px;

        @media (min-width:1200px){
          @media (max-width:1400px){
              margin-right: 40px;
          }
        }

        @media (max-width:767px){
          background: rgba(255, 255, 255, 0.41);
          padding: 5px;
          .border-radius(5px);
        }

        p{
          font-weight: 500;
          font-size: 45px;
          line-height: 1.1; color: @black;
          @media (max-width:1500px){
            font-size: 40px;
          }
          @media (max-width:1300px){
            font-size: 35px;
          }
          @media (max-width:1200px){
            font-size: 30px;
          }
          @media (max-width:991px){
            font-size: 28px;
          }
          @media (max-width:767px){
            font-size: 25px;
          }
          @media (max-width:575px){
            font-size: 22px;
          }
        }

        .first{
          font-size: 200px;
          line-height: 1;
          font-weight: @bold;
          color: @black;
          margin-bottom: 0;

          @media (max-width:1500px){
            font-size: 180px;
          }
          @media (max-width:1300px){
            font-size: 170px;
          }
          @media (max-width:1200px){
            font-size: 160px;
          }
          @media (max-width:991px){
            font-size: 140px;
          }
          @media (max-width:767px){
            font-size: 120px;
          }
          @media (max-width:575px){
            font-size: 80px;
          }

          span{
            font-size: 80px;

            @media (max-width:1500px){
              font-size: 70px;
            }
            @media (max-width:1300px){
              font-size: 60px;
            }
            @media (max-width:1200px){
              font-size: 55px;
            }
            @media (max-width:991px){
              font-size: 50px;
            }
            @media (max-width:767px){
              font-size: 45px;
            }
            @media (max-width:575px){
              font-size: 35px;
            }
          }
        }
      }
    }

  }
}



.title{
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  line-height: 1;
  margin-top: 65px;
  margin-bottom: 45px;
  color: #1C222B;
  @media (max-width:1200px){
    font-size: 50px;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  @media (max-width:991px){
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  @media (max-width:767px){
    font-size: 40px;
  }
  @media (max-width:575px){
    font-size: 35px;
  }


  &.has_line{
    position: relative;
    &:before{
      .b_a();
      width: 100%;
      height: 1px;
      border: 1px solid rgba(28, 34, 43, 0.3);
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
    }
    span{
      background: #fff;
      display: inline-block;
      text-align: center;
      padding: 0 25px;
      position: relative;
    }
  }

}



.pr_row{
  @media (max-width:1200px){
    .j-center();
  }
  > div{
    @media (min-width:1200px){
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    @media (max-width:1200px){
      margin-bottom: 20px;
    }
  }

  .pt_item{
      text-align: center;
    picture{
      display: inline-block;

      margin-bottom: 20px;
      @media (min-width:576px){
        height: 100px;
      }
      img{

      }
    }
    .pr_title{
      font-size: 22px;
      line-height: 26px;
      font-weight: @bold;
      color: @black;
      margin-bottom: 10px;
      @media (max-width:1200px){
        font-size: 20px;
      }
      @media (max-width:767px){
        font-size: 18px;
      }
    }
    .pr_desc{

    }
  }
}


@red:#D25857;

.product_list{

  @media (min-width:576px){
    margin: 0 -8px;
    > div{
      padding: 0 8px;
    }
  }

  @media (max-width:1200px){
    > div{
      margin-bottom: 20px;
    }
  }


  .product_item{
    width: 100%;
    &:hover{
      .product_head{
        &:before, .show_product{
          opacity: 1;
        }
      }

      .product_body{
        .product_title{
          color: #D25857;
        }
      }

    }
    .product_head{
      .flex();
      width: 100%;
      position: relative;
      margin-bottom: 15px;

      &:before{
        .b_a();
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        .border-radius(5px);
        left: 0;
        top:0;
        z-index: 2;
        .transition(@transition_default);
        opacity: 0;
      }


      .label{
        position: absolute;
        right: 0;
        top: 25px;
        width: 115px;
        height: 35px;
        background: #D25857;
        .border-radius(2px 0px 0px 2px);
        font-weight: 500;
        font-size: 22px;
        color: #fff;
        .flex();
        .ai-center();
        .j-center();
        z-index: 1;
      }

      picture{
        display: inline-block;
        height: 315px;
        width: 100%;
        position: relative;
        .border-radius(5px);
        background: #EDEDED;
        img{
          position: absolute;
          .m_a();
          max-width: 100%;
          max-height: 100%;
        }
      }
      .show_product{
        width: 100%;
        max-width: 245px;
        height: 60px;
        .flex();
        .ai-center();
        .j-center();
        color: #D25857;
        font-weight: 500;
        font-size: 22px;
        background: #FFFFFF;
        .border-radius(3px);
        border:0;
        position: absolute;
        .m_a();
        z-index: 3;
        .transition(@transition_default);
        opacity: 0;
      }
    }


    .product_body{

      .flex();

      .product_title{
        font-weight: 500;
        font-size: 22px;
        color: @black;
        .transition(@transition_default);
        width: 40%;
        @media (max-width:1300px){
          font-size: 20px;
        }
        @media (max-width:767px){
          font-size: 18px;
        }
      }
      .product_price{
        text-align: right;
        width:60%;
        .price1{
          font-weight: 500;
          font-size: 28px;
          color: @black;
          margin-bottom: 10px;
          @media (max-width:1300px){
            font-size: 24px;
          }
          @media (max-width:767px){
            font-size: 20px;
          }
          &.act{
            color: @red;
          }
        }
        .price2{
          font-size: 18px;
          color: rgba(28, 34, 43, 0.4);
          text-decoration: line-through;
          @media (max-width:1300px){
            font-size: 16px;
          }
        }
      }
    }

  }
}


.page_seotext{
  padding-top: 30px;
  padding-bottom: 30px;
}


footer{
  background: @black;
  padding: 50px 0;

  @media (max-width:1200px){
    padding: 30px 0;
  }


  .logo{
    margin-bottom: 40px;
  }
  .footer_contacts_list{
    li{
      margin-bottom: 23px;
      @media (max-width:1200px){
        margin-bottom: 20px;
      }
    }
    li, a{
      color: #fff;
      font-weight: 500;
      font-size: 22px;
      @media (max-width:1200px){
        font-size: 20px;
      }
      @media (max-width:991px){
        font-size: 18px;
      }
      @media (max-width:767px){
        font-size: 16px;
      }
    }
    a{
      &:hover, &:focus{
        text-decoration: none;
        color: @red;
      }
    }
  }


  .col_left{
    @media (max-width:1200px){
      margin-bottom: 30px;
    }
  }
  .col_right{
    .flex();
    .wrap();
    @media (min-width:768px){
      .j-beetween();
    }


    @media (max-width:767px){

    }


    .copyright{
      color: #fff;
      font-size: 18px;
      line-height: 21px;
      max-width: 265px;
      margin-right: 30px;
      @media (max-width:1200px){
        font-size: 16px;
      }
      @media (max-width:767px){
          font-size: 14px;
        max-width: 100%;
        width: 100%;
      }
      p{
        margin-bottom: 0;
        &:first-child{
          margin-bottom: 45px;
          @media (max-width:1200px){
            margin-bottom: 30px;
          }
        }
      }
    }

    .f_menu{

      @media (max-width:767px){
        width: 100%;
        margin-bottom: 30px;
      }

      .nav{
        .flex();
        .col();
        @media (max-width:1200px){
          padding-left: 0;
        }
        li{
          margin-bottom: 30px;
          @media (max-width:1200px){
            margin-bottom: 20px;
          }
          &:last-child{
            margin-bottom: 0;
          }
          a{
            font-weight: 500;
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
            &:hover, &:focus{
              text-decoration: none;color: @red;
            }
            @media (max-width:1200px){
              font-size: 18px;
            }
            @media (max-width:767px){
              font-size: 16px;
            }
          }
        }
      }

    }

  }

}




.breadcrumb{
  background: none;
  padding-left: 0;
  padding-top: 8px;
  margin-bottom: 40px;
  @media (max-width:1300px){
    margin-bottom: 30px;
  }
  @media (max-width:1200px){
    margin-bottom: 20px;
  }
  li{
    padding-right: 10px;
    position: relative;
    + li{
      padding-left: 20px;
      &:before{
        .b_a();
        width: 10px;
        height: 15px;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M-2.03585e-07 1.7625L6.18084 7.5L7.99592e-07 13.2375L1.90283 15L10 7.5L1.90283 -2.45798e-07L-2.03585e-07 1.7625Z' fill='%231C222B'/%3e%3c/svg%3e");
      }
    }
    a{
      &:hover{
        text-decoration: none;
        color: @red;
      }
    }
    a, span{
      font-size: 15px;
      color: rgba(28, 34, 43, 0.65);

    }
  }
}


.subcategory{
  @media (max-width:767px){
    display: none;
  }
}
.subcategory_list{
  .flex();
  .wrap();
  margin-bottom: 10px;

  li{
    margin-bottom: 10px;margin-right: 10px;
    @media (max-width:1200px){
      margin-bottom: 5px;
    }
    &.active, &:hover{
      a{
        background: @red;
        color: #fff;
        text-decoration: none;

      }
    }
    a{
      font-size: 22px;
      color: #1C222B;
      display: inline-block;
      .border-radius(3px);
      padding: 9px 15px;
      @media (max-width:1300px){
        font-size: 20px;
        padding: 7px 13px;
      }
      @media (max-width:1200px){
        font-size: 18px;
        padding: 5px 11px;
      }
      @media (max-width:767px){
        font-size: 16px;
        padding: 5px 10px;
      }
    }
  }
}



.sort_block{
  margin-bottom: 23px;
  .flex();
  .j-end();
  .ai-center();
  border-bottom: 2px solid rgba(28, 34, 43, 0.3);
  padding-bottom: 10px;

  span{
    font-size: 15px;
    color: rgba(28, 34, 43, 0.65);
    margin-right: 10px;
  }

  .sort_select{
    .flex();
    position: relative;
    &:before{
        .b_a();
      width: 12px;
      height: 8px;
      right: 8px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 1H12' stroke='%231C222B' stroke-opacity='0.3' stroke-width='1.5'/%3e%3cpath d='M2 4L10 4' stroke='%231C222B' stroke-opacity='0.3' stroke-width='1.5'/%3e%3cpath d='M4 7L8 7' stroke='%231C222B' stroke-opacity='0.3' stroke-width='1.5'/%3e%3c/svg%3e");
      pointer-events: none;
    }
    select{
      border: 1px solid rgba(28, 34, 43, 0.3);
      height: 25px;
      .border-radius(3px);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.65);
      padding-left: 7px;
      padding-right: 25px;
      cursor: pointer;
    }
  }
}


.category_row{
  margin-bottom: 48px;
  @media (max-width:1300px){
      margin-bottom: 30px;
  }
  @media (max-width:1200px){
    margin-bottom: 25px;
  }
  .product_list{
    > div{
      margin-bottom: 25px;
    }
  }
}



.pagination_block{
  .flex();
  .j-end();
  border-bottom: 2px solid rgba(28, 34, 43, 0.3);
  padding-bottom: 23px;

  .pagination{
    .flex();
    .wrap();
    li{
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
      span{
        font-weight: @bold;
      }

      a{
        font-size: 22px;
        color: #000000;
        .border-radius(3px);
        display: inline-block;
        padding: 2px 6px;
        &:hover{
          background: @red;
          text-decoration: none;
          color: #fff;
        }
        &.active{
          background: #000000;
          color: #fff;
          text-decoration: none;
        }
        &.prev{
          width: 22px;
          height: 23px;
          background: #000000;
          color: #fff;
          position: relative;
          &:hover, &:focus{
            background: @red;
          }
          &:before{
            .b_a();
            .m_a();
            width: 10px;
            height: 15px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 13.2375L3.81916 7.5L10 1.7625L8.09717 1.41575e-06L-1.31134e-06 7.5L8.09716 15L10 13.2375Z' fill='white'/%3e%3c/svg%3e");
          }
        }
        &.next{
          width: 22px;
          height: 23px;
          background: #000000;
          color: #fff;
          position: relative;
          &:before{
            .b_a();
            .m_a();
            width: 10px;
            height: 15px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M-2.03585e-07 1.7625L6.18084 7.5L7.99592e-07 13.2375L1.90283 15L10 7.5L1.90283 -2.45798e-07L-2.03585e-07 1.7625Z' fill='white'/%3e%3c/svg%3e");
          }
          &:hover, &:focus{
            background: @red;
          }
        }
      }
    }
  }
}

.btn_default{
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
  background: @red;
  .border-radius(3px);
  border:0;
  padding: 8px 15px;
  cursor: pointer;
  @media (max-width:1200px){
    font-size: 20px;
  }
  @media (max-width:767px){
    font-size: 18px;
  }
}


.mobile_toggler{
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
  text-align: left;
  background: @red;
  .border-radius(3px);
  border:0;
  padding: 8px 45px 8px 15px;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;

  &.act{
    &:after{
      display: none;
    }
  }

  &:before, &:after{
    .b_a();
    width: 20px;
    height: 1px;
    background: #fff;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &:after{
    .transform(rotate(90deg));
  }


  @media (min-width:768px){
    display: none;
  }
}





.filter{
  @media (max-width:767px){
    display: none;
    margin-bottom: 20px;
  }
  .form_filter{

    .btn_group{
      .flex();
      .wrap();
      .j-beetween();

      .btn_reset{
        font-size: 22px;
        color: @black;
        text-align: center;
        background: #fff;
        .border-radius(3px);
        border:0;
        padding: 8px 0;
        cursor: pointer;
        @media (max-width:1200px){
          font-size: 20px;
        }
        @media (max-width:767px){
          font-size: 18px;
        }
      }

    }

    .filter_group{
      border-bottom: 2px solid rgba(28, 34, 43, 0.3);
      padding-bottom: 22px;
      margin-bottom: 30px;

      @media (max-width:1200px){
        margin-bottom: 20px;
        padding-bottom: 18px;
      }

      @media (max-width:767px){
        margin-bottom: 15px;
        padding-bottom: 12px;
      }

      .filter_group_title{
        font-size: 22px;
        color: #000000;
        margin-bottom: 20px;
        @media (max-width:1200px){
          font-size: 20px;
        }
        @media (max-width:767px){
          font-size: 18px;
        }
      }





      .checkbox_group{
        li{
            margin-bottom: 3px;
        }

        .checkbox{
          input[type="checkbox"]{
            position: absolute;
            opacity: 0;
            &:checked{
              + label{
                &:before{
                  background: @red;
                  border:1px solid @red;
                }
                &:after{
                  opacity: 1;
                }
              }
            }
            +label{
              font-size: 15px;
              color: rgba(28, 34, 43, 0.65);
              padding-left: 42px;
              position: relative;
              cursor: pointer;
              @media (max-width:1200px){
                padding-left: 30px;
              }
              &:before{
                .b_a();
                width: 20px;
                height: 20px;
                border: 1px solid rgba(28, 34, 43, 0.3);
                .border-radius(3px);
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
              }
              &:after{
                .b_a();
                  width: 15px;
                height: 11px;
                left: 3px;
                top: 5px;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4.5L5.68 9L14 1' stroke='%23F9F9F9' stroke-width='2.5'/%3e%3c/svg%3e");
                opacity: 0;
              }
            }
          }
        }
      }


      .radio_group{
        .flex();
        .wrap();

        li{
          margin-bottom: 3px;
          margin-right: 5px;
        }
        .radio{
          position: relative;
          input[type="radio"]{
            position: absolute;
            opacity: 0;
            pointer-events: none;
            &:checked{
              +label{
                background: #D25857;
                color: #fff;
              }
            }
            +label{
              width: 30px;
              height: 20px;
              cursor: pointer;
              .border-radius(3px);
              .flex();
              .ai-center();
              .j-center();
              font-size: 15px;
              color: rgba(28, 34, 43, 0.65);
            }
          }
        }
      }



      #price_range{
        height: 5px;
        background: rgba(28, 34, 43, 0.3);
        .border-radius(2px);
        border:0;
        margin-bottom: 15px;

        .ui-widget-header{
          height: 5px;
          background: #D25857;  border:0;
        }

        .ui-slider-handle{
          width: 15px;
          height: 15px;
          background: #D25857;
          .border-radius(50%);
          border:0;
          margin-left: 0;
          cursor: pointer;
        }
      }
      .price_range_row{
        .flex();
        > div{
          width: 50%;
          font-size: 15px;
          color: rgba(28, 34, 43, 0.65);
          &:last-child{
            text-align: right;
          }
        }
      }


    }
  }
}


.product_slider_content{
  position: relative;
  .label{
    width: 162px;
    height: 49px;
    background: #D25857;
    .border-radius(2px 0px 0px 2px);
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 60px;
    .flex();
    .j-center();
    .ai-center();
    z-index: 3;
    @media (max-width:1600px){
      width: 140px;
      height: 40px;
      top: 30px;
      font-size: 25px;
    }
    @media (max-width:991px){
      width: 120px;
      height: 30px;
      top: 15px;
      font-size: 20px;
    }
  }


  .product_slider_nav{
    padding: 0 35px;

    .slick-arrow{
      width: 20px;
      height: 30px;
      z-index: 1;
      &:before{
        .b_a();
        .m_a();
        width: 20px;
        height: 30px;
        opacity: 1;
      }
    }
    .slick-next{
      right: 0;
      &:before{
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='30' viewBox='0 0 20 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M-4.0717e-07 3.525L12.3617 15L1.59918e-06 26.475L3.80567 30L20 15L3.80567 -4.91595e-07L-4.0717e-07 3.525Z' fill='%231C222B'/%3e%3c/svg%3e");
      }
    }
    .slick-prev{
      left: 0;
      &:before{ background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='30' viewBox='0 0 20 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 26.475L7.63833 15L20 3.525L16.1943 0L0 15L16.1943 30L20 26.475Z' fill='%231C222B'/%3e%3c/svg%3e");}
    }

    .product_slider_nav_item{
      padding: 0 5px;
      .img_container{
        .border-radius(5px);
        position: relative;
        background: #EDEDED;
        width: 100%;
        height: 240px;


        @media (max-width:1700px){
          height: 230px;
        }
        @media (max-width:1500px){
          height: 220px;
        }
        @media (max-width:1300px){
          height: 200px;
        }
        @media (max-width:1200px){
          height: 180px;
        }
        @media (max-width:991px){
          height: 150px;
        }
        @media (max-width:767px){
          height: 130px;
        }
        @media (max-width:575px){
          height: 90px;
        }

        img{
          position: absolute;
          .m_a();
          max-width: 98%;
          max-height: 98%;
        }
      }
    }
  }

  .product_slider{
    margin-bottom: 20px;
    .product_slider_item{
      .img_container{
        height: 830px;
        width: 100%;
        .border-radius(5px);
        position: relative;
        background: #EDEDED;
        @media (max-width:1700px){
          height: 730px;
        }
        @media (max-width:1500px){
          height: 600px;
        }
        @media (max-width:1300px){
          height: 550px;
        }
        @media (max-width:1200px){
          height: 450px;
        }
        @media (max-width:991px){
          height: 400px;
        }
        @media (max-width:767px){
          height: 350px;
        }
        @media (max-width:575px){
          height: 300px;
        }
        a[data-fancybox]{
          width: 100%;
          height: 100%;
          display: inline-block;
          img{
            position: absolute;
            .m_a();
            max-width: 98%;
            max-height: 98%;
          }
        }
      }
    }
  }
}




h1{
  font-weight: @bold;
  font-size: 55px;
  line-height: 64px;
  color: #1C222B;

  @media (max-width:1300px){
    font-size: 45px;
    line-height: 1.3;
  }
  @media (max-width:1200px){
    font-size: 40px;
  }
  @media (max-width:767px){
    font-size: 35px;
  }

  @media (min-width:768px){
    &.mobile_h1{
      display: none;
    }
  }

  &.desktop_h1{
    @media (max-width:767px){
      display: none;
    }
  }
}


.product_content{
  padding-bottom: 55px;
  @media (max-width:1200px){
    padding-bottom: 30px;
  }



  .product_row{
    .col_left{
      @media (min-width:1300px){
        -ms-flex: 0 0 63%;
        flex: 0 0 63%;
        max-width: 63%;
      }
    }
    .col_right{
      @media (min-width:1300px){
        -ms-flex: 0 0 37%;
        flex: 0 0 37%;
        max-width: 37%;
      }
    }
  }

  h1{
    border-bottom: 2px solid rgba(28, 34, 43, 0.3);
    padding-bottom: 10px;
  }


  .price_block{
    margin-bottom: 22px;
    .old_price{
      font-size: 22px;
      color: rgba(28, 34, 43, 0.4);
      text-decoration: line-through;    margin-bottom: 12px;
      @media (max-width:991px){
        font-size: 20px;
      }
    }
    .price{
      font-weight: @bold;
      font-size: 55px;
      line-height: 64px;
      color: #D25857;
      @media (max-width:1300px){
        font-size: 45px;
        line-height: 1.3;
      }
      @media (max-width:1200px){
        font-size: 40px;
      }
      @media (max-width:767px){
        font-size: 35px;
      }
    }
  }


  .add_to_cart{
    background: #D25857;
    .border-radius(3px);
    width: 245px;
    height: 60px;
    font-weight: 500;
    font-size: 22px;color: #FFFFFF;
    .flex();
    .ai-center();
    .j-center();
    padding: 10px;
    border:0;
    @media (max-width:1200px){
      width: 200px;
      height: 40px;
      font-size: 18px;
    }
  }

  .pr_head{
    padding-top: 20px;
    border-bottom: 2px solid rgba(28, 34, 43, 0.3);
    padding-bottom: 25px;
  }


  .pr_body{
    padding-top: 28px;
    .desc{
      font-size: 16px;
      line-height: 19px;
      color: rgba(28, 34, 43, 0.65);
    }
    .options{
      margin-bottom: 25px;
      li{
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 26px;
        color: rgba(28, 34, 43, 0.4);
        @media (max-width:1200px){
          font-size: 18px; margin-bottom: 10px;
        }
        strong{
          color: @black;
        }

      }
    }
  }

  .size_block{
    margin-bottom: 10px;
    .radio_group{
      .flex();
      .wrap();

      li{
        margin-bottom: 3px;
        margin-right: 18px;
        @media (max-width:1200px){
          margin-right: 5px;
        }
      }
      .radio{
        position: relative;
        input[type="radio"]{
          position: absolute;
          opacity: 0;
          pointer-events: none;
          &:checked{
            +label{
              background: #D25857;
              color: #fff;
            }
          }
          +label{
            width: 35px;
            height: 25px;
            cursor: pointer;
            .border-radius(3px);
            .flex();
            .ai-center();
            .j-center();
            font-size: 22px;
            color: rgba(28, 34, 43, 0.65);
            @media (max-width:1200px){
              font-size: 16px;
            }
          }
        }
      }
    }
  }

}



h3, .h3{
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #1C222B;
  margin-bottom: 20px;
}


h1, .h1{
  font-size: 55px;
  line-height: 64px;
  color: #1C222B;
  @media (max-width:1300px){
    font-size: 45px;
    line-height: 1.3;
  }
  @media (max-width:1200px){
    font-size: 40px;
  }
  @media (max-width:767px){
    font-size: 35px;
  }
  @media (max-width:575px){
    font-size: 30px;
  }
}

.container_title{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
  color: #1C222B;
  position: relative;
  @media (max-width:767px){
    margin-top: 25px;
  }

  &:before{
   .b_a();
    width: 100%;
    height: 1px;
    border: 1px solid rgba(28,34,43,0.3);
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  h1{
    background: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 25px;
    position: relative;
  }
}



.order_content{
  padding-bottom: 50px;
  max-width: 715px;
  .order_product_list{
    margin-bottom: 25px;
    .order_product_item{
      .flex();
      border-bottom: 2px solid rgba(28, 34, 43, 0.3);
      position: relative;
      padding: 20px 0;
      .order_product_img{
        width: 125px;
        min-width: 125px;
        height: 131px;
        display: inline-block;
        .border-radius(5px);
        position: relative;
        background: #EDEDED;
        @media (max-width:575px){
          width: 90px;
          min-width: 90px;
          height: 100px;
        }
        img{
            position: absolute;
          .m_a();
          max-width: 99%;
          max-height: 99%;
        }
      }

      .order_product_content{
        margin-left: 60px;
        padding-right: 25px;
        @media (max-width:575px){
          margin-left: 15px;
        }
        .order_product_title{
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          color: @black;
          display: inline-block;
          margin-bottom: 10px;
          @media (max-width:575px){
            font-size: 18px; margin-bottom: 8px;
          }
          &:hover, &:focus{
           text-decoration: none;
            color: @red;
          }
        }
        .quantity{
          font-size: 18px;
          color: rgba(28, 34, 43, 0.4);    margin-bottom: 13px;
          @media (max-width:575px){
            font-size: 16px;margin-bottom: 5px;
          }
        }
        .size{
          font-size: 18px;
          color: rgba(28, 34, 43, 0.4);
          @media (max-width:575px){
            font-size: 16px;
          }
          span{
            color: @black;
          }
        }
        .pr_remove{
              position: absolute;
          top: 18px;
          right: 0;
          width: 22px;
          height: 22px;
          background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L21 21M21 1L1 21' stroke='%231C222B' stroke-opacity='0.3' stroke-width='2.5'/%3e%3c/svg%3e");
          padding: 0;
          border:0;
          .transition(@transition_default);
          @media (max-width:767px){
            width: 15px;
            height: 15px;
            background-size: cover;
          }
          &:hover, &:focus{
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L21 21M21 1L1 21' stroke='%23D25857' stroke-opacity='1' stroke-width='2.5'/%3e%3c/svg%3e");
          }
        }
      }
    }
  }
}



.order_form{

  > .row{
    margin-bottom: 20px;
    @media (max-width:767px){
      margin-bottom: 10px;
    }
  }
  .f_title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: @black;
    @media (max-width:767px){
      font-size: 20px;
    }
    @media (max-width:575px){
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 5px;
    }
  }


  .payment_methods, .delivery{
    li{
      margin-bottom: 10px;
    }
  }

  input.form-control{
    height: 35px;
    .border-radius(2px);
    border: 1px solid rgba(28, 34, 43, 0.65);
  }

  .form-control{
    .border-radius(2px);
    border: 1px solid rgba(28, 34, 43, 0.65);
  }


  .courier_checked, .pickup_checked{
    display: none;
    &.active{
      display: block;
    }
  }


  .dropdown{
    &.show{
      .address{
        &:before{
          .transform(rotate(-180deg));
        }
      }
    }


    .dropdown-menu{
      width: 100%;
      .border-radius(2px);
      border: 1px solid rgba(28, 34, 43, 0.65);
      padding: 0;
      li{

        p{
          margin-bottom: 0;
          cursor: pointer;
          padding: 10px 5px;
          &:hover, &:focus{
            background: @red;
            color: #fff;
            span{
              color: #fff;
            }
          }
          span{
            color: rgba(28, 34, 43, 0.4);
            display: block;
          }
        }
      }
    }

    .address{
      .border-radius(2px);
      border: 1px solid rgba(28, 34, 43, 0.65);
      width: 100%;
      font-size: 18px;
      line-height: 21px;
      color: @black;
      padding: 12px 15px;
      position: relative;
      cursor: pointer;

      &:before{
        .b_a();
        width: 15px;
        height: 10px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.2375 1.11153e-06L7.5 6.18084L1.7625 9.74692e-07L9.65577e-08 1.90283L7.5 10L15 1.90283L13.2375 1.11153e-06Z' fill='%231C222B'/%3e%3c/svg%3e");
        right: 12px;
        top: 0;
        bottom: 0;
        margin: auto;
        .transition(@transition_default);
      }

      &:after{
        display: none;
      }
      span{
        color: rgba(28, 34, 43, 0.4);
        display: block;
      }
    }
  }


  textarea{
    height: 90px;
  }

  input[type="radio"], input[type="checkbox"]{
    position: absolute;
    opacity: 0;

    &:checked{
      +label{
        &:before{
          border: 7px solid @red;
        }
      }
    }

    +label{
      font-weight: 500;
      font-size: 22px;
      color: @black;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      @media (max-width:767px){
        font-size: 20px;
      }
      @media (max-width:575px){
        font-size: 18px;
      }
      &:before{
        .b_a();
        width: 20px;
        height: 20px;
        border: 1px solid #646464;
        .border-radius(50%);
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:after{

      }
    }
  }

}



.total{
  border-top: 2px solid rgba(28, 34, 43, 0.3);
  padding-top: 25px;
  p{
    color: rgba(28, 34, 43, 0.4);
    font-size: 22px;
    @media (max-width:767px){
      font-size: 20px;
    }
    @media (max-width:575px){
      font-size: 20px;
    }
    &.summa{
      color: #1C222B;
      font-weight: 500;
    }
  }

  .btn_default{
    font-size: 22px;
    width: 100%;
    height: 60px;
    @media (max-width:767px){
      height: 50px; font-size: 20px;
    }
    @media (max-width:575px){
      height: 40px; font-size: 18px;
    }
  }

}




.phones{
  font-size: 22px;
  line-height: 26px;color: #1C222B;
  position: relative;
  padding-left: 45px;

  @media (max-width:1200px){
    font-size: 20px;
  }
  @media (max-width:767px){
    font-size: 18px;
  }
  &:before{
    .b_a();
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.43556 13.8489C8.99556 18.88 13.12 22.9867 18.1511 25.5644L22.0622 21.6533C22.5422 21.1733 23.2533 21.0133 23.8756 21.2267C25.8667 21.8844 28.0178 22.24 30.2222 22.24C31.2 22.24 32 23.04 32 24.0178V30.2222C32 31.2 31.2 32 30.2222 32C13.5289 32 0 18.4711 0 1.77778C0 0.8 0.8 0 1.77778 0H8C8.97778 0 9.77778 0.8 9.77778 1.77778C9.77778 4 10.1333 6.13333 10.7911 8.12444C10.9867 8.74667 10.8444 9.44 10.3467 9.93778L6.43556 13.8489Z' fill='%231C222B'/%3e%3c/svg%3e");
  }
}


.location{
  font-size: 22px;
  line-height: 26px;
  color: #1C222B;
  position: relative;
  padding-left: 40px;
  @media (max-width:1200px){
    font-size: 20px;
  }
  @media (max-width:767px){
    font-size: 18px;
  }
  &:before{
    .b_a();
    top: 0;
    left: 0;
    width: 25px;
    height: 35px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='35' viewBox='0 0 25 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.25 0C5.4775 0 0 5.4775 0 12.25C0 21.4375 12.25 35 12.25 35C12.25 35 24.5 21.4375 24.5 12.25C24.5 5.4775 19.0225 0 12.25 0ZM3.5 12.25C3.5 7.42 7.42 3.5 12.25 3.5C17.08 3.5 21 7.42 21 12.25C21 17.29 15.96 24.8325 12.25 29.54C8.61 24.8675 3.5 17.2375 3.5 12.25Z' fill='%231C222B'/%3e%3cpath d='M12.25 16.625C14.6662 16.625 16.625 14.6662 16.625 12.25C16.625 9.83375 14.6662 7.875 12.25 7.875C9.83375 7.875 7.875 9.83375 7.875 12.25C7.875 14.6662 9.83375 16.625 12.25 16.625Z' fill='%231C222B'/%3e%3c/svg%3e ");
  }
}


.email{
  font-size: 22px;
  text-decoration: none;
  color: #1C222B;
  position: relative;
  padding-left: 45px;
  display: inline-block;
  @media (max-width:1200px){
    font-size: 20px;
  }
  @media (max-width:767px){
    font-size: 18px;
  }
  &:before{
    .b_a();
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 31px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='24' viewBox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.9 0H3.1C1.395 0 0.0155 1.35 0.0155 3L0 21C0 22.65 1.395 24 3.1 24H27.9C29.605 24 31 22.65 31 21V3C31 1.35 29.605 0 27.9 0ZM27.9 6L15.5 13.5L3.1 6V3L15.5 10.5L27.9 3V6Z' fill='%231C222B'/%3e%3c/svg%3e");
  }
}